*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
body{
    font-family: "Raleway";
    font-weight: 500;
    margin: 0;
    overflow-x: hidden;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.header
{
    width: 100%;
    height: 720px;
    padding: 28px;
    background: radial-gradient(33.82% 49.42% at 66.88% 63.89%, #0A2647 0%, #000000 100%);
}
.header .nav-list-item
{    
    padding-left: 60px;
}
.nav-list-item a
{
  color: #fff;
}
.un-active{
    display: none;
}
.burger {
    display: flex;
    outline: none;
    height: 20px;
    width: 40px;
    border: 0px;
    padding: 0px;
    background: transparent;
    transition: all 250ms ease-out;
    cursor: pointer;
  }
  
  .burger:before, .burger:after {
    content: '';
    width: 40px;
    height: 1px;
    position: absolute;
    background: #fff;
    transition: all 250ms ease-out;
    will-change: transform;
  }
  
  .burger:before {
    transform: translateY(-3px);
  }
  
  .burger:after {
    transform: translateY(3px);
  }
  
 /* line transition */
  
  .active.burger:before {
    transform: translateY(0) rotate(45deg);
  }
  
  .active.burger:after {
    transform: translateY(0) rotate(-45deg);
  } 
  .top
  {
    height: 51px;
  }
  .header-navigation
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navigation-list
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hero
  {
    margin-top: 70px;
  }
  .hero-img img
  {
    width: 100%;
  }
  .hero-txt
  {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    letter-spacing: -0.01em;
    margin-top: 106px;
    align-items: center;
    justify-content: space-between;
  }
  .hero-txt p 
  {
    width: 320px;
  }
  .more-btn
  {
    color: #fff;
    background: #6B99C3;
    border: 1.5px solid #6B99C3;
    border-radius: 24px;
    width: 260px;
    height: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    text-align: right;
    letter-spacing: -0.03em;
    align-items: center;
    justify-content: center;
  }
  .more-btn span
  {
    padding-right: 12px;
  }
  .info-block
  {
    margin-bottom: 128px;
  }
  .info-blocks
  {
    padding: 28px 28px 13px 17px;
  }
  .info-blocks h3
  {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 86px;
    line-height: 104px;
    letter-spacing: -0.02em;
    color: #000000;
  }
  .border-left
  {
    border-right: 1.5px solid #D2D2D4;
  }
  .info-block-link
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
    color: #000000;
  }
  .load-array
  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .service-block
  {
    background-image: url('../images/image.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-y: 48px;
  }
  .service-block-header h2
  {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 68px;
    line-height: 78px;
    letter-spacing: -0.02em;
    color: #6B99C3;
    margin-bottom: 94px;
  }
  
  .service-blocks  h3
  {
    width: 400px;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    text-align: right;
    letter-spacing: -0.03em;
    color: #000000;
    margin-bottom: 18px;
  }
  .left
  {

  }
.more
{
  color: #000;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;  
  text-align: right;
  letter-spacing: -0.03em;
}
.more span
{
  padding-left: 7px;
}
.service-blocks
{
  background-image: url('../images/ellipse.png');
  background-repeat: no-repeat;
}
.first-service
  {
    background-position-x: 77px;
    background-position-y: 47px;
    padding: 35px 0 0 162px;
  }
  .fourth-service h3,.first-service h3
  {
    text-align: left;
  }
.second-service
  {
    margin-bottom: 86px;
    background-image: url('../images/ellipse.png');
    background-position-x: 440px;
    background-position-y: 18px;
    text-align: end;
    padding-right: 230px;
  }
.third-service
  {
    margin: 218px 0 117px 0;
    padding-right: 230px;
    padding-top: 45px;
    background-position-x: 381px;
    text-align: end;
  }
.fourth-service
  {
    padding-left: 123px;
    background-position-x: 68px;
    background-position-y: 11px;
    margin-bottom: 162px;
  }

.projects-block-wrapper
{
  margin-bottom: 50px;
  border-left: 1.5px solid #D2D2D4;
}
.projects-block{
  padding: 20px 0 20px 0;
}

.projects-block-header
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }
  .projects-block-header h4
  {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #16354D;
  }

  .projects-block-txt p
  {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #6B99C3;
  }

.btn-round {
  width: 16px;
  height: 16px;
  border-radius: 50px;
  border-width: 1px;
}

.close {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  top: 0px;
  left: 0px;
  overflow: hidden;
  color: #484b4c;
}
.close:before,
.close:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #484b4c;
  }
  .close:before {
    transform: rotate(0deg);
  }
  .close:after {
    transform: rotate(90deg);
  }


/* //Animations */
.animated {
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes plusButton {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    background-color: white;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    background-color: white;
  }
}

@keyframes plusButton {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    background-color: white;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    background-color: white;
  }
}

.plusButton {
  -webkit-animation-name: plusButton;
  animation-name: plusButton;
}

@-webkit-keyframes closeButton {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    background-color: white;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    background-color: white;
  }
}

@keyframes closeButton {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    background-color: white;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    background-color: white;
  }
}

.closeButton {
  -webkit-animation-name: closeButton;
  animation-name: closeButton;
}

@-webkit-keyframes circleShape {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    background-color: white;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    background-color: white;
    border-radius: 50px;
  }
}

@keyframes circleShape {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    background-color: white;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    background-color: 45deg;
    border-radius: 50px;
  }
}

.circleShape {
  -webkit-animation-name: circleShape;
  animation-name: circleShape;
}
  .project-block
  {
    margin-bottom: 70px;
  }
.project-link
{
  text-align: end;
  margin-bottom: 42px;
}
.project-block-header h2
  {
    font-style: normal;
    font-weight: 600;
    font-size: 68px;
    line-height: 78px;
    letter-spacing: -0.02em;
  }
.info-list-wrapper
  {
    border-top: 1.5px solid #D2D2D4;
    padding: 20px 0 38px 0;
  }
.date
{
  margin-bottom: 27px;
}
.date span
  {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #D2D2D4;
  }
  
.info-list-title h4
  {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #000000;
  }
  .info-list-txt
    {
      padding-left: 50px;
    }
.info-list-txt p
  {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #000000;
  }
  
  .project-info-list
  {
    display: flex;
    align-items: flex-end;
    justify-content: end;
  }
.project-last-border
{
  border-bottom: 1.5px solid #D2D2D4;
  margin-bottom: 34px;
}
.team-block
{
  margin-bottom: 80px;
}

.consulting-wrapepr
{
    width: 1329px;
    height: 360px;
    background: radial-gradient(56.06% 98.83% at 63.51% 50%, #0A2647 0%, #000000 100%);
    border-radius: 33px;
    padding: 42px 17px;
}
.consulting-block
{
  background-image: url('../images/grid.svg');
  height: 100%;
  background-repeat: no-repeat;
  background-position-x: 163px;
  background-position-y: -56px;
}
.consulting-header 
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 102px;
}
.consulting-header h3
{
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 46px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
.consulting-content
{
  background-image: url('../images/grid.svg');
  height: 100%;
  background-repeat: no-repeat;
}
.feedback-wrapper
{
  color: white;
}
  .feedback-form
  {
    display: flex;
    justify-content: space-between;
  }
.form_input
{
  background-color: unset;
  color: white;
  outline: none;
  padding-bottom: 16px;
  padding-left: 20px;
  border-top: 0;
  margin-right: 24px;
  width: 100%;
  border-right: 0;
  border-left: 0;
  border-bottom: 1.5px solid #D2D2D4;
}
.form_input::placeholder{
  color: white;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
.feedback-form .more-btn
{
  width: 100%;
}


/* OUR TEAM SLIDER */
.owl-stage-outer
{
  margin-bottom: 50px;
}
.owl-carousel
{
  padding-top: 34px;
}
.sec-heading h6
{
  font-weight: 600;
  font-size: 68px;
  line-height: 78px;
  letter-spacing: -0.02em;
  color: #16354D;
  margin-bottom: 34px;
}
.owl-carousel .owl-item img{
  border-radius: 100%;
}
.img-area
{
  margin-bottom: 23px;
}
.owl-nav
{
  position: absolute;
  top: -90px;
  right: 0;
  width: 100px;
  display: flex;
  justify-content: space-between;
  
}
.owl-item
{
  width: 306px;
}
.nav-button
{
  border-radius: 100%;
  padding: 9px;
}
.disabled
{
  background: #6B99C3 !important;
  border: 1.5px solid #6B99C3 !important;
  border-radius: 100% !important;
  padding: 9px !important;
}
.disabled i
{
  color: white;
}
.owl-prev, .owl-next
{
  border: 1.5px solid #000000;
  background-color: white;
  border-radius: 100% !important;
  padding: 9px;
  width: 35px;
  height: 35px;
}
.info-area h4
{
  font-weight: 500;
  font-size: 38px;
  line-height: 46px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  color: #000000;
  margin-bottom: 22px;
}
.info-area p
{
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #6B99C3;
  padding: 0px 7px;
}
.single-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 33px;
}